
.buttons {
  margin-block-start: auto;
  display: flex;
  justify-content: space-between;
}

input {
  text-overflow: ellipsis;
}

.ft-input-component {
  inline-size: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  block-size: 100%;
}

.select, .ft-input-component {
  margin-block-end: 1em;
}
