
.buttons.download-prompt-buttons {
  margin-block-start: auto;
  display: flex;
  justify-content: space-between;
}

input {
  text-overflow: ellipsis;
}

.ft-input-component {
  inline-size: 100%;
  margin-block-start: 1em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  block-size: 100%;
}

.select, .ft-input-component {
  margin-block-end: 1em;
}

.file-name-input {
  display: flex;
}

.file-name-input .type {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-block-start: 10px;
  margin-inline-start: 7px;
}

